@model UserRegisterForm
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang đăng kí</title>

    <link href="@Url.AdminAssets("assets/common/img/favicon.144x144.png")" )" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="@Url.AdminAssets("assets/common/img/favicon.114x114.png")" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="@Url.AdminAssets("assets/common/img/favicon.72x72.png")" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="@Url.AdminAssets("assets/common/img/favicon.57x57.png")" rel="apple-touch-icon" type="image/png">
    <link href="@Url.AdminAssets("assets/common/img/favicon.png")" rel="icon" type="image/png">
    <link href="favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!-- Vendors Styles -->
    <!-- v1.0.0 -->
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/jscrollpane/style/jquery.jscrollpane.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/ladda/dist/ladda-themeless.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/select2/dist/css/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/cleanhtmlaudioplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/cleanhtmlvideoplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/bootstrap-sweetalert/dist/sweetalert.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/summernote/dist/summernote.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/ionrangeslider/css/ion.rangeSlider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/c3/c3.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/vendors/chartist/dist/chartist.min.css")">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="@Url.AdminAssets("assets/common/css/source/main.css")">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="@Url.AdminAssets("assets/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/spin.js/spin.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/ladda/dist/ladda.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/html5-form-validation/dist/jquery.validation.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/autosize/dist/autosize.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/summernote/dist/summernote.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/owl.carousel/dist/owl.carousel.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/nestable/jquery.nestable.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/editable-table/mindmup-editabletable.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/d3/d3.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/c3/c3.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/peity/jquery.peity.min.js")"></script>
    <!-- v1.0.1 -->
    <script src="@Url.AdminAssets("assets/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>
    <!-- v1.1.1 -->
    <script src="@Url.AdminAssets("assets/vendors/gsap/src/minified/TweenMax.min.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/hackertyper/hackertyper.js")"></script>
    <script src="@Url.AdminAssets("assets/vendors/jquery-countTo/jquery.countTo.js")"></script>

    <!-- Clean UI Scripts -->
    <script src="@Url.AdminAssets("assets/common/js/common.js")"></script>
    <script src="@Url.AdminAssets("assets/common/js/demo.temp.js")"></script>
</head>
<body class="theme-default">

    <section class="page-content">
        <div class="page-content-inner" style="background-image: url(@Url.AdminAssets("assets/common/img/temp/login/2.jpg)")">

            <!-- Register Page -->
            <div class="single-page-block-header">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="javascript: history.back();">
                                <img src="@Url.AdminAssets("assets/common/img/logo-inverse.png")" alt="logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="single-page-block-header-menu">
                            <ul class="list-unstyled list-inline">
                                <li><a href="javascript: history.back();">&larr; Trở về trang chủ</a></li>
                                <li class="active"><a href="javascript: void(0);">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-page-block">
                <div class="single-page-block-inner effect-3d-element">
                    <div class="blur-placeholder"><!-- --></div>
                    <div class="single-page-block-form">
                        <h3 class="text-center">
                            <i class="icmn-users margin-right-10"></i>
                            Đăng kí
                        </h3>
                        <br />
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "form-validation", name = "form-validation" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="form-input-icon form-input-icon-right">
                                    <i class="icmn-spinner11 util-spin"></i>
                                    @Html.TextBoxFor(Model => Model.Username, new { @class = "form-control", placeholder = "Tên tài khoản" })
                                    @Html.ValidationMessageFor(Model => Model.Username, string.Empty, new { @class = "text-warning" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control password", placeholder = "Mật khẩu" })
                                @Html.ValidationMessageFor(Model => Model.Password, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(Model => Model.RePassword, new { @class = "form-control password", placeholder = "Nhập lại mật khẩu" })
                                @Html.ValidationMessageFor(Model => Model.RePassword, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control", placeholder = "Tên đầy đủ" })
                                @Html.ValidationMessageFor(Model => Model.FullName, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-group">
                                <label class="input-group datepicker-only-init" id="skyjar">
                                    @Html.TextBoxFor(Model => Model.DateOfBirth, new { @class = "form-control", placeholder = "Ngày sinh" })
                                    <span class="input-group-addon">
                                        <i class="icmn-calendar"></i>
                                    </span>
                                </label>
                                @Html.ValidationMessageFor(Model => Model.DateOfBirth, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", placeholder = "Địa chỉ" })
                                @Html.ValidationMessageFor(Model => Model.Address, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control", placeholder = "Số điện thoại" })
                                @Html.ValidationMessageFor(Model => Model.Phone, string.Empty, new { @class = "text-warning" })
                            </div>
                            <div class="form-actions">
                                @Html.ValidationSummary(true, string.Empty, new { @class = "text-warning" })
                                <button type="submit" class="btn btn-primary width-150">Đăng kí</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- End Register Page -->
        </div>
        <!-- Page Scripts -->
        <script type="text/javascript">
            $(function () {
                $('.datepicker-only-init').datetimepicker({
                    widgetPositioning: {
                        horizontal: 'left'
                    },
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    },
                    format: 'LL'
                });

                $('#skyjar').datetimepicker({
                    locale: 'vi'
                });
            })
            
            $(function () {
                // Form Validation
                $('#form-validation').validate({
                    submit: {
                        settings: {
                            inputContainer: '.form-group',
                            errorListClass: 'form-control-error',
                            errorClass: 'has-danger'
                        }
                    }
                });

                // Add class to body for change layout settings
                $('body').addClass('single-page');

                // Set Background Image for Form Block
                function setImage() {
                    var imgUrl = $('.page-content-inner').css('background-image');
                    $('.blur-placeholder').css('background-image', imgUrl);
                };

                function changeImgPositon() {
                    var width = $(window).width(),
                        height = $(window).height(),
                        left = - (width - $('.single-page-block-inner').outerWidth()) / 2,
                        top = - (height - $('.single-page-block-inner').outerHeight()) / 2;
                    $('.blur-placeholder').css({
                        width: width,
                        height: height,
                        left: left,
                        top: top
                    });
                };

                setImage();
                changeImgPositon();

                $(window).on('resize', function () {
                    changeImgPositon();
                });

                // Mouse Move 3d Effect
                var rotation = function (e) {
                    var perX = (e.clientX / $(window).width()) - 0.5;
                    var perY = (e.clientY / $(window).height()) - 0.5;
                    TweenMax.to(".effect-3d-element", 0.4, { rotationY: 15 * perX, rotationX: 15 * perY, ease: Linear.easeNone, transformPerspective: 1000, transformOrigin: "center" })
                };

                if (!cleanUI.hasTouch) {
                    $('body').mousemove(rotation);
                }
            });
        </script>
        <!-- End Page Scripts -->
    </section>
</body>
</html>